<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SCHOOL APP WEEKEND</h1>
    <h3>Data Teachers</h3>
    <ul>
        <% for(let i = 0; i < teachers.length; i++) { %>
            <% for (key in teachers[i]) { %>
                <%= key + ': ' + teachers[i][key] %><br>
            <% } %>
            <br>
        <%} %>
    </ul>
</body>
</html>